# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints

# Data
data/
*.csv
*.parquet
*.sqlite

# Airflow
airflow.db
logs/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db